@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: 'Pretendard';
  overflow-x: hidden;
}

.difference {
  mix-blend-mode: difference;
}

.defaultShadow {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
